.container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 86px;
    
}

.logo{
    opacity: 0.7;
}

.productItems{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 47px 0px;
}