@import '../../../styles/variables.module.scss';

.container {
  display: flex;
  background-color: $primary;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;

  button {
    background-color: transparent;
    border: none;
  }
}

.navBar {
  background-color: $secondary;
  height: 100%;
}

.triangle {
  margin-right: 0.5rem;
  width: 30px;
  height: 30px;
}
