@import '../../../styles/variables.module.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 77.5rem;
  margin-top: 4.8rem;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    background-color: none;
    padding: 8px;
  }

  td {
    padding: 8px;
    text-align: center;
  }

  tr:not(:has(th)):hover {
    background-color: rgb($battleship_400, 0.3);
    transition: all 0.2s ease-in-out;
  }
  tr:not(:has(th)) {
    border: 1px solid #dddddd;
    background-color: $background;
  }
}

.productName {
  display: flex;
  align-items: center;
}

.productTitleLink {
  margin-left: 1rem;
}

.trashBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px 10px;
}

.btnCont {
  text-align: center;

  .addToCartBtn {
    background-color: $secondary;
    color: $text;
    border-radius: 20px;
    padding: 9px 30px;
    cursor: pointer;
  }

  .addToCartBtn:hover {
    opacity: 0.9;
  }
}

.procuctImg {
  border-radius: 5px;
}
