@import '../variables.module.scss';
.searchHead {
  background-color: $primary;
  color: $silver;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'almarai';
  padding-top: 1.25rem;

  h1 {
    font-size: 1.85rem;
    font-weight: 100;
  }

  input {
    border-radius: 4px;
    margin-top: 0.625rem;
    width: 37.5rem;
    padding: 0.75rem;

    &::placeholder {
      color: #dddd;
    }
  }
}

.helpsBox {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 4.5rem 0rem;
}

.helpsCardBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
}

.hlpCard:hover {
  animation: ScaleUp 0.5s forwards;
}

.helpsCardBox:has(.hlpCard:hover) .hlpCard:not(:hover) {
  background-color: rgb(208, 208, 208);
  transition: 0.5s ease-in;
}

@keyframes ScaleUp {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.025;
  }
}
@keyframes ScaleDown {
  0% {
    scale: 1.025;
  }
  100% {
    scale: 1;
  }
}
@media (width <= 1170px) {
  .searchHead {
    input {
      width: 70%;
    }
  }
  .helpsCardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 820px) {
  .helpsCardBox {
    grid-template-columns: 1fr;
  }
}
