
$primary: #2A2733;
$secondary:#404350;
$text : #ffffff;
$battleship_900: #22273b;
$battleship_400 : #555C79;
$background: #ffffff;
$silver: #F1F1F1;


:export {
    $primary: #2A2733;
    $secondary: #404350;
    $text: #ffffff;
    $battleship_900: #22273b;
    $battleship_400 : #555C79;
    $background: #ffffff;
    $silver: #F1F1F1;
}