$silver: #F1F1F1;
$space: #4F7CAC;
$battleship: #829191;
$spanish: #949B96;
$slate: #2C423F;
$sarg: #2B2E3C;
$bg: #FFFFFF;

:export {
    $silver: #C5C5C5;
    $space: #4C5B61;
    $battleship: #829191;
    $spanish: #949B96;
    $slate: #2C423F;
    $sarg: #2B2E3C;
    $bg: #FFFFFF;
}